.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container label {
    font-size: 15px;
    margin-bottom: 0.5rem;
    margin-left: 20px;
}

.container input {
    padding: 0.35rem 0.5rem;
    border-radius: 20px;
    border: none;
    margin-bottom: 1rem;
    height: 30px;
    font-size: 15px;
    padding-left: 20px;
}

.container input:focus {
    outline: none;
}

.container .black::placeholder {
    color: var(--black);
}

.container .white::placeholder {
    color: var(--white);
}